body{
    background-color: #F5F7FA;
    font-family: 'Montserrat', 'Arial';
}

li{
    line-height: 24px;
}

.contenedor-principal{
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    width: 1200px;
    margin: 40px auto;
}

.informacion-general{
    display: flex;
    flex-direction: column;
}

.primer-elemento-lista{
    background-color: yellow;
}

.descripcion{
    background-color: #a1b4d1;
    margin-bottom: 40px;
}

.descripcion-profesion{
    font-size: 14px;
    font-weight: 700;
}

.educacion{
    background-color: #a1b4d1;
    /* margin-bottom: 40px; */
}

.experiencia-laboral{
    background-color: #a1b4d1;
    /* margin-bottom: 40px; */
}

.informacion-lateral{
    background-color: #1e2939;
}